form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formControl {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    min-width: 500px;
}


.formControl label {
    padding-bottom: .3rem;
    color: var(--second-green);
    font-weight: bold;
}

